<div class="container">
	<div class="borrower">
		<h2>Name: <%= @borrower.first_name %> <%= @borrower.last_name %> </h2>
		<h3>Amount Needed: $<%= @borrower.money %></h3>
		<h3>Amount Raised: $<%= @borrower.raised %></h3>
	</div>
	<div class="borrower">
		<h4>People Who Loaned You Money</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Amount Lent</th>
				</tr>
			</thead>
			<% if @lenders %>
				<% @lenders.each do |x| %>
			<tr>
				<td><%= x.lender.first_name %> <%= x.lender.last_name %></td>
				<td><%= x.lender.email %></td>
				<td>$<%= x.amount %></td>
			</tr>
				<% end %>
			<% end %>
		</table>
		<a href="/users/<%= session[:user_id]%>" data-method="delete" class="btn btn-success" role="button">Logout</a>
	</div>
</div>